@charset "UTF-8";
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}

.header {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  background: #f5f5f5;
}

.header .header-logo {
  width: 210px;
  float: left;
  position: relative;
  margin-top: 10px;
}

.header .header-logo img {
  height: auto;
  max-width: 174px;
  max-height: 80px;
}

.header .header-select {
  width: 740px;
  float: left;
  margin-left: 28px;
}

.header .header-select .header-select-top .header-select-top-select {
  display: inline-block;
  width: 564px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #cc0000;
  outline: 0;
  margin-top: 26px;
  float: left;
  position: relative;
}

.header .header-select .header-select-top .header-select-top-select .xiala {
  width: 68px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  line-height: 38px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  border-right: 1px solid #B7B7B7;
}

.header .header-select .header-select-top .header-select-top-select .xiala span {
  margin-left: 5px;
  display: block;
  width: 100%;
}

.header .header-select .header-select-top .header-select-top-select .select-input {
  background-color: #f5f5f5;
  width: 380px;
  height: 38px;
  box-sizing: border-box;
  padding: 9px 0 9px 0;
  margin-left: 90px;
  border: none;
  color: #323232;
}

.header .header-select .header-select-top .header-select-top-select .select-btn {
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 38px;
  color: #fff;
  box-sizing: border-box;
  background-color: #cc0000;
  border: none;
  border-radius: 20px;
  font-family: Microsoft Yahei, Arial;
  top: 0;
  right: 0;
  position: absolute;
}

.header .header-select .header-select-top .header-select-top-select .select-btn .sousuo {
  font-size: 19px;
  color: #fff;
}

.header .header-select .header-select-top .header-select-img {
  margin: 26px 0 0 30px;
  height: 40px;
}

.header .header-select .header-select-bottom {
  width: 640px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-left: 18px;
}

.header .header-select .header-select-bottom a {
  color: #747474;
  outline: none;
  text-decoration: none;
  word-wrap: break-word;
  display: inline;
  margin-right: 22px;
  overflow: hidden;
}

.header .header-shopcar {
  width: 140px;
  float: right;
  margin-right: 50px;
}

.header .header-shopcar .shopcar-btn {
  width: 100%;
  height: 40px;
  float: right;
  line-height: 40px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  color: #cc0000;
  margin-top: 26px;
  position: relative;
  cursor: pointer;
}

.header .header-shopcar .shopcar-btn .iconshopcar {
  left: 0;
  font-size: 18px;
  color: #666;
  margin-right: 10px;
  cursor: pointer;
}

.header .header-shopcar .shopcar-btn .shopcar {
  color: #666;
  cursor: pointer;
  margin-left: 5px;
  line-height: 38px;
}

.header .header-shopcar .shopcar-btn .shopping {
  width: 400px;
  position: absolute;
  right: 0px;
  top: 41px;
  text-align: center;
  border: 1px solid #f5f5f5;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 0px 8px #ddd;
  display: none;
}

.header .header-shopcar .shopcar-btn .shopping span {
  display: block;
  text-align: left;
  text-indent: 8px;
  background-color: #fafafa;
  margin: 10px;
  color: #cc0000;
}

.header .header-shopcar .shopcar-btn .shopping .shopping_car {
  height: 68px;
  line-height: 68px;
  text-align: center;
  margin-top: -10px;
  color: #d8d2d2;
}

.header .header-shopcar .shopcar-btn:hover .shopping {
  display: block;
}

.twonav {
  width: 100%;
  height: 36px;
}

.twonav .wrapper {
  width: 1200px;
  margin: auto;
  font-family: "Verdana", "Arial", Microsoft Yahei, Arial;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
}

.twonav .wrapper .twonav-left {
  background: #cc0000;
  width: 174px;
  height: 36px;
  line-height: 36px;
  float: left;
  position: relative;
}

.twonav .wrapper .twonav-left .all-select {
  padding-left: 32px;
  float: left;
  box-sizing: border-box;
}

.twonav .wrapper .twonav-left .all-select a {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}

.twonav .wrapper .twonav-left .all-select a .icon-all-select {
  font-size: 12px;
  margin-right: 10px;
}

.twonav .wrapper .twonav-left .twonav-left-xiala {
  position: absolute;
  top: 36px;
  left: 0;
  width: 174px;
  height: auto;
  border-top: none;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul {
  width: 174px;
  height: 450px;
  overflow: hidden;
  padding: 4px 0;
  box-sizing: border-box;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li {
  cursor: pointer;
  min-height: 34px;
  color: #faf8f9;
  position: relative;
  z-index: 10;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li .liebiao {
  display: block;
  cursor: pointer;
  line-height: 34px;
  height: 34px;
  color: #faf8f9;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li .liebiao h3 {
  line-height: 34px;
  height: 34px;
  font-size: 12px;
  font-weight: normal;
  padding-left: 32px;
  overflow: hidden;
  position: relative;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li .liebiao h3 .icontwonav {
  display: inline-block;
  top: 0;
  left: 10px;
  position: absolute;
  width: auto;
  font-size: 16px;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li .liebiao h3 a {
  color: #faf8f9;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li .liebiao h3 .jiantou {
  top: 0;
  right: 10px;
  position: absolute;
  display: inline-block;
  width: auto;
  margin: 0 3px;
  font-size: 10px;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li:hover {
  background: #fff;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li:hover .liebiao {
  color: #ff0000;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul li:hover .liebiao a {
  color: #ff0000;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul .sannav {
  width: auto;
  min-height: 450px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #d3d3d3;
  background: #fff;
  position: absolute;
  left: 174px;
  top: 0;
  z-index: 10;
  display: none;
  box-shadow: 6px 3px 8px 0 rgba(195, 183, 183, 0.3);
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul .sannav .sannav-neirong {
  height: auto;
  float: left;
  width: 672px;
  min-width: 450px;
  padding: 28px 80px 28px 0;
  box-sizing: border-box;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul .sannav .sannav-neirong dl {
  float: left;
  text-align: left;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul .sannav .sannav-neirong dl dt {
  float: left;
  width: 120px;
  line-height: 22px;
  text-align: right;
  font-size: 14px;
  color: #424242;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul .sannav .sannav-neirong dl dt .iconsan {
  margin-left: 10px;
  font-size: 14px;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul .sannav .sannav-neirong dl dd {
  padding-top: 1px;
  margin-left: 152px;
  max-width: 442px;
  overflow: hidden;
  border-bottom: 1px dotted #979797;
  font-size: 22px;
  color: #757575;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul .sannav .sannav-neirong dl dd b {
  font-weight: normal;
  float: left;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
  color: #757575;
  margin: 0 30px 14px 0;
}

.twonav .wrapper .twonav-left .twonav-left-xiala ul:hover .sannav {
  display: block;
}

.twonav .wrapper .twonav-right {
  height: 36px;
  line-height: 36px;
  margin-left: 10px;
  float: left;
}

.twonav .wrapper .twonav-right ul {
  float: left;
}

.twonav .wrapper .twonav-right ul li {
  text-align: center;
  float: left;
  margin-right: 30px;
}

.twonav .wrapper .twonav-right ul li a {
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #424242;
  font-weight: normal;
}

.banner {
  margin: 0 auto;
  height: 450px;
  display: block;
  z-index: 1;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner ul {
  position: absolute;
}

.banner ul li {
  float: left;
}

.banner ul li img {
  width: auto;
  height: 450px;
}

.content {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

.content .guess {
  height: 218px;
}

.content .guess .title-font {
  font-size: 18px;
  margin: 14px 0;
  color: #757575;
}

.content .guess .rx {
  width: 1200px;
  height: 180px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.content .guess .rx ul {
  width: 1210px;
  margin: 0;
  padding: 0;
  height: auto;
}

.content .guess .rx ul li {
  width: 295px;
  height: 180px;
  float: left;
  margin-right: 7px;
  background: #fff;
  cursor: pointer;
}

.content .guess .rx ul li img {
  display: block;
  width: 295px;
  height: 180px;
}

.content .guess .rx ul li img:hover {
  opacity: .8;
}

.content .title-font {
  font-size: 18px;
  margin: 14px 0;
  color: #757575;
}

.content .mrjx {
  height: 570px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.content .mrjx .jx1 {
  width: 300px;
  height: 570px;
  margin-right: 10px;
  background: #fff;
  float: left;
}

.content .mrjx .jx1 img {
  width: 300px;
  height: 570px;
  margin-right: 10px;
}

.content .mrjx .jx1 img:hover {
  opacity: .8;
}

.content .mrjx .jx2 {
  width: 590px;
  height: 570px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.content .mrjx .jx2 .top1 {
  width: 590px;
  height: 280px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  float: left;
}

.content .mrjx .jx2 .top1 img {
  width: 590px;
  height: 280px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content .mrjx .jx2 .top1 img:hover {
  opacity: .8;
}

.content .mrjx .jx2 .bottom1 {
  width: 290px;
  height: 280px;
  margin-right: 10px;
  float: left;
  background: #fff;
}

.content .mrjx .jx2 .bottom1 img {
  width: 290px;
  height: 280px;
  margin-right: 10px;
}

.content .mrjx .jx2 .bottom1 img:hover {
  opacity: .8;
}

.content .mrjx .jx2 .bottom2 {
  width: 290px;
  height: 280px;
  float: left;
  background: #fff;
}

.content .mrjx .jx2 .bottom2 img {
  width: 290px;
  height: 280px;
}

.content .mrjx .jx2 .bottom2 img:hover {
  opacity: .8;
}

.content .mrjx .jx3 {
  width: 290px;
  height: 570px;
  float: left;
}

.content .mrjx .jx3 .top1 {
  width: 290px;
  height: 280px;
  background: #fff;
  float: left;
  margin-bottom: 10px;
}

.content .mrjx .jx3 .top1 img {
  width: 290px;
  height: 280px;
  margin-bottom: 10px;
}

.content .mrjx .jx3 .top1 img:hover {
  opacity: .8;
}

.content .mrjx .jx3 .bottom1 {
  width: 290px;
  height: 280px;
  background: #fff;
  float: left;
}

.content .mrjx .jx3 .bottom1 img {
  width: 290px;
  height: 280px;
}

.content .mrjx .jx3 .bottom1 img:hover {
  opacity: .8;
}

.content .floor {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

.content .floor .floor_product {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.content .floor .floor_product .floor_nav {
  margin: 26px 0 9px;
}

.content .floor .floor_product .floor_nav .floor_nav_tubiao {
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  background: #f5f5f5;
  float: left;
  margin-right: 12px;
}

.content .floor .floor_product .floor_nav .floor_nav_tubiao b {
  width: 37px;
  height: 26px;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

.content .floor .floor_product .floor_nav .floor_nav_tubiao a {
  margin-left: 10px;
  font-size: 14px;
  font-family: "黑体";
}

.content .floor .floor_product .floor_nav .floor_nav_tubiao_list {
  margin-left: 12px;
  width: 985px;
  height: 26px;
  background: #f5f5f5;
}

.content .floor .floor_product .floor_nav .floor_nav_tubiao_list ul {
  width: 988px;
  height: 26px;
  margin: 0px;
  padding: 0px;
}

.content .floor .floor_product .floor_nav .floor_nav_tubiao_list ul li {
  height: 26px;
  color: #757575;
  line-height: 26px;
  float: left;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.content .floor .floor_product .floor_nav .floor_nav_tubiao_list ul li:hover {
  color: #cc0000;
  border-bottom: 2px solid #cc0000;
}

.content .floor .floor_product .floor_nav2 {
  margin: 26px 0 9px;
}

.content .floor .floor_product .floor_nav2 .floor_nav_tubiao {
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  background: #f5f5f5;
  float: left;
  margin-right: 12px;
}

.content .floor .floor_product .floor_nav2 .floor_nav_tubiao b {
  width: 37px;
  height: 26px;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

.content .floor .floor_product .floor_nav2 .floor_nav_tubiao a {
  margin-left: 10px;
  font-size: 14px;
  font-family: "黑体";
}

.content .floor .floor_product .floor_nav2 .floor_nav_tubiao_list {
  margin-left: 12px;
  width: 985px;
  height: 26px;
  background: #f5f5f5;
}

.content .floor .floor_product .floor_nav2 .floor_nav_tubiao_list ul {
  width: 988px;
  height: 26px;
  margin: 0px;
  padding: 0px;
}

.content .floor .floor_product .floor_nav2 .floor_nav_tubiao_list ul li {
  height: 26px;
  color: #757575;
  line-height: 26px;
  float: left;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.content .floor .floor_product .floor_nav2 .floor_nav_tubiao_list ul li:hover {
  color: #cc0000;
  border-bottom: 2px solid #cc0000;
}

.content .floor .floor_product .floor_left {
  width: 210px;
  float: left;
  margin-right: 12px;
}

.content .floor .floor_product .floor_left .cata {
  height: 567px;
  width: 210px;
  background: #fff;
}

.content .floor .floor_product .floor_left .cata img {
  height: 567px;
  width: 210px;
}

.content .floor .floor_product .floor_left .cata:hover img {
  opacity: .8;
}

.content .floor .floor_product .floor_zhong {
  width: 345px;
  height: 567px;
  margin-right: 18px;
  float: left;
  background: #fff;
}

.content .floor .floor_product .floor_zhong .cata {
  width: 345px;
  height: 567px;
  float: left;
  background: #fff;
}

.content .floor .floor_product .floor_zhong .cata img {
  width: 345px;
  height: 567px;
}

.content .floor .floor_product .floor_zhong .cata:hover img {
  opacity: .8;
}

.content .floor .floor_product .floor_right {
  width: 615px;
  height: auto;
  float: left;
}

.content .floor .floor_product .floor_right .floorlist {
  width: 615px;
  height: auto;
  float: left;
}

.content .floor .floor_product .floor_right .floorlist ul {
  min-width: 615px;
  float: left;
  max-width: 600px;
  max-height: 567px;
  overflow: hidden;
}

.content .floor .floor_product .floor_right .floorlist ul a {
  display: block;
  width: 200px;
  height: 280px;
  float: left;
  margin: 0 5px 5px 0;
}

.content .floor .floor_product .floor_right .floorlist ul a li {
  width: 200px;
  height: 280px;
  float: left;
  overflow: hidden;
  background-color: #fff;
  margin: 0 8px 8px 0;
  position: relative;
}

.content .floor .floor_product .floor_right .floorlist ul a li em {
  margin-left: 5px;
  margin-top: 5px;
  width: 190px;
  display: block;
  height: 190px;
  background: #fff;
}

.content .floor .floor_product .floor_right .floorlist ul a li em img {
  width: 190px;
  height: 190px;
}

.content .floor .floor_product .floor_right .floorlist ul a li em:hover img {
  opacity: .8;
}

.content .floor .floor_product .floor_right .floorlist ul a li b {
  color: #3e3a39;
  font-size: 14px;
  width: 100%;
  height: 15px;
  display: block;
  overflow: hidden;
  margin-top: 6px;
  word-break: break-all;
  text-align: center;
  max-width: 200px;
  box-sizing: border-box;
  padding: 0 10px;
}

.content .floor .floor_product .floor_right .floorlist ul a li p {
  color: #979797;
  font-size: 12px;
  width: 100%;
  height: 25px;
  display: block;
  overflow: hidden;
  margin-top: 2px;
  word-break: break-all;
  text-align: center;
  max-width: 200px;
  box-sizing: border-box;
  padding: 0 10px;
}

.content .floor .floor_product .floor_right .floorlist ul a li span {
  color: #FF4D4F;
  font-size: 14px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-top: 6px;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  padding: 0 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: FZLTHJW--圆简体;
}

.content .floor .floor_product .floor_right .floorlist ul a li:hover {
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0);
}

.content .foot .footlogo {
  width: 1200px;
  margin: 30px auto 0;
  height: auto;
  overflow: hidden;
}

.content .foot .footlogo .tupian {
  width: 1200px;
  height: 418px;
  background: #fff;
  margin-top: 30px;
}

.content .foot .footlogo .tupian img:hover {
  opacity: .8;
}

.content .foot .footlogo ul {
  margin-top: 26px;
  overflow: hidden;
  padding: 40px 0;
  background-color: #fff;
}

.content .foot .footlogo ul li {
  width: 25%;
  border-right: 1px solid #dedede;
  padding: 0 25px;
  box-sizing: border-box;
  float: left;
}

.content .foot .footlogo ul li img {
  width: 100%;
}

.content .foot .footlogo ul li img:hover {
  cursor: pointer;
  opacity: .8;
}

.content .foot .footlogo ul li:last-child {
  border-right: none;
}

#leftBar {
  top: 277px;
  display: block;
  position: fixed;
  width: 60px;
  text-align: center;
  line-height: 28px;
  right: 15px;
  z-index: 10;
}

#leftBar ul li {
  background: #fff;
  display: block;
  cursor: pointer;
  border: 1px solid #dedede;
  line-height: 34px;
  color: #ed5759;
  overflow: hidden;
  margin-bottom: 2px;
}

#leftBar ul li .floor_h {
  display: none;
}

#leftBar ul li:hover {
  border: 1px solid #cc0000;
  background: #e9b7b7;
}

#leftBar ul li:hover .floor_s {
  display: none;
}

#leftBar ul li:hover .floor_h {
  display: block;
}
