    @charset "utf-8";
    $width:1200px;
    $fontsize:14px;
    $headernavheight:35px;
    $margin:10px;
    .header-nav {
        width: 100%;
        height: $headernavheight;
        background: #eeeeee;
        min-width: $width;
        .wrapper {
            width: $width;
            margin: 0 auto;
            .nav-left {
                width: auto;
                float: left;
                line-height: $headernavheight;
                margin-left: 50px;
                .font-c {
                    margin-left: $margin;
                    a {
                        color: #cc0000;
                    }
                    .gang1 {
                        margin-left: $margin;
                        margin-right: $margin;
                        color: #c8c8c8;
                    }
                }
            }
            .nav-right {
                width: auto;
                float: right;
                text-align: right;
                height: $headernavheight;
                line-height: $headernavheight;
                .nav-list {
                    float: right;
                    li {
                        float: left;
                        height: $headernavheight;
                        padding: 0 10px;
                        position: relative;
                        text-align: center;
                        cursor: pointer;
                        .gang {
                            margin-left: $margin;
                            color: #c8c8c8;
                        }
                    }
                }
            }
        }
    }