.main {
  background: #fff;
  box-shadow: 0px 0px 8px #ddd;
  width: 980px;
  margin: 10px auto;
  height: auto;
  overflow: hidden;
}

.main .register {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.main .register .register-box {
  width: 380px;
  height: 380px;
  float: right;
  margin: 10px 0px 0px 10px;
  padding-top: 20px;
}

.main .register .register-box ul {
  width: 295px;
  height: auto;
  overflow: hidden;
  margin-top: 10px;
  float: left;
  font-size: 14px;
}

.main .register .register-box ul li,
.main .register .register-box ul .mima {
  position: relative;
}

.main .register .register-box ul li .input,
.main .register .register-box ul li .password,
.main .register .register-box ul .mima .input,
.main .register .register-box ul .mima .password {
  font-family: Microsoft Yahei;
  color: #474747;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  border: 1px solid #e8e8e8;
  background: #fff;
  border-radius: 2px;
  width: 270px;
  outline: none;
  vertical-align: middle;
}

.main .register .register-box ul li .input .fontuser,
.main .register .register-box ul li .password .fontuser,
.main .register .register-box ul .mima .input .fontuser,
.main .register .register-box ul .mima .password .fontuser {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 0px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  color: #c7c7c7;
}

.main .register .register-box ul li .input .fontuser .iconuser,
.main .register .register-box ul li .password .fontuser .iconuser,
.main .register .register-box ul .mima .input .fontuser .iconuser,
.main .register .register-box ul .mima .password .fontuser .iconuser {
  font-size: 16px;
}

.main .register .register-box ul li .input .msg_span,
.main .register .register-box ul li .password .msg_span,
.main .register .register-box ul .mima .input .msg_span,
.main .register .register-box ul .mima .password .msg_span {
  display: inline-block;
  font-size: 12px;
  float: left;
  margin-left: 16px;
}

.main .register .register-box ul .mima {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main .register .register-box ul .button {
  width: 98%;
  background-color: #cc0000;
  padding: 0px 25px;
  text-align: center;
  border: none;
  font-family: Microsoft Yahei;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.main .register .register-box ul .mf {
  margin-top: 10px;
  margin-right: 10px;
  color: #cc0000;
  float: left;
}

.main .register .register-box ul .mf a {
  color: #cc0000;
}

.main .register .register-box ul .wj {
  margin-top: 10px;
  margin-right: 10px;
  color: #cc0000;
  float: right;
}

.main .register .register-pic {
  width: 500px;
  height: 380px;
  float: left;
  margin: 10px 30px;
}

.main .register .register-pic img {
  width: 500px;
  height: 380px;
}
